<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li <% if (sidebar == 'dashboard') { %> class="active" <% } %>><a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
      <li <% if (sidebar == 'users') { %> class="active" <% } %>><a href="/user"><i class="fa fa-table fa-fw"></i> User</a></li>
      <li <% if (sidebar == 'barangs') { %> class="active" <% } %>><a href="/barang"><i class="fa fa-table fa-fw"></i> Barang</a></li>
      <li <% if (sidebar == 'tempats') { %> class="active" <% } %>><a href="/tempat"><i class="fa fa-table fa-fw"></i> Tempat</a></li>
    </ul>
  </div>
</div>
